<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apps.amit.lawofattraction">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".helper.MainApplication"
        android:allowBackup="true"
        android:allowTaskReparenting="false"
        android:excludeFromRecents="true"
        android:fullBackupContent="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleTask"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:taskAffinity=""
        android:theme="@style/AppTheme">
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <activity android:name=".AudioWishHome"
            android:screenOrientation="portrait"/>
        <activity android:name=".RecordingListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".AudioManifestation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AffirmationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.facebook.ads.AudienceNetworkActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".AffirmationHome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SayThankYouActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectManifestationTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MusicListActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="MUSIC" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PrivateWishesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MusicPlayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DisableAdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Exercise1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Exercise2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Exercise3Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Exercise4Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Exercise5Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ExerciseFinishActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ManifestationTrackerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SetReminderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutAppActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AllQuotesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyStoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyStoryReplyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SetTimeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustNothing" />
        <activity
            android:name=".InformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SetLanguageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ExerciseInformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserManualActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CommentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserFeedbackActivity"
            android:label="@string/title_activity_feedback"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DailyQuotesActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="DAILY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LawTipsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PrivacyPolicyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TaskActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="TASK" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SubTaskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StoryListActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="STORY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2259921691483610~8730116859" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/status" />
        <!--
    Set custom default icon. This is used when no icon is set for incoming notification messages.
    See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <receiver android:name=".notifications.DailyReminderReceiver" />
        <receiver android:name=".notifications.AffirmationNotificationReceiver" />
        <receiver android:name=".notifications.Notify" />
        <receiver android:name=".notifications.CommentsReminder" />
        <receiver android:name="androidx.media.session.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.FirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--
             MediaSession, prior to API 21, uses a broadcast receiver to communicate with a
             media session. It does not have to be this broadcast receiver, but it must
             handle the action "android.intent.action.MEDIA_BUTTON".

             Additionally, this is used to resume the service from an inactive state upon
             receiving a media button event (such as "play").
        -->
        <service
            android:name=".service.MusicService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>